.contactDetails {
  width: 85%;
  margin: 60px auto;
  display: flex;
  padding: 40px 0;
  justify-content: space-between;
}
.cantactDetail {
  text-align: center;
}
.contactDetailHeading {
  margin: 10px 0;
}
.contactDetailText {
  font-size: 18px;
}
.contactLocation {
  height: 500px;
  background-color: #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactCard {
  width: 200px;
  height: 100px;
  background-color: white;
}
.contactform {
  width: 85%;
  margin: 60px auto;
  text-align: center;
}
.cform {
}
.cInput {
  display: grid;
  grid-column-gap: 40px;
  margin: 30px 0;
}
.cInput > input {
  outline: none;
  border: 1px solid#DDDDDD;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
}
.cInput > textarea {
  outline: none;
  border: 1px solid#DDDDDD;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
}
.c-6 {
  grid-template-columns: repeat(2, 6fr);
}
.c-12 {
  grid-template-columns: repeat(1, 12fr);
}
.c-1 > button {
  width: 300px;
  font-size: 24px;
  font-weight: bold;
  margin: auto;
  background-color: #7fad39;
  color: white;
  cursor: pointer;
}
.contactDetailIcon {
  margin: 10px 0;
}
.contactDetailIcons {
  color: #7fad39;
  font-weight: bold;
  font-size: 40px !important;
}
