.blog {
  width: 400px;
}
.blog img {
  width: 100%;
}
.dates {
  color: #c3d9f3;
  margin: 5px 0;
  font-weight: 500;
  display: flex;
  gap: 20px;
  align-items: center;
}
.date,
.comment {
  display: flex;
  align-items: center;
  gap: 10px;
}
.blog h2 {
  margin: 10px 0;
  cursor: pointer;
}
.blogText {
  font-size: 18px;
}
.readMore {
  width: 150px;
  margin: 20px 0;
  border-radius: 20px;
  padding: 12px;
  border: 1px solid#F5F5F5;
  display: flex;
  justify-content: space-around;
}
