ul {
  list-style: none;
}
.category {
  width: 85%;
  margin: 0 auto;
}
.categoryTop {
  display: flex;
  align-items: center;
}
.categoryTopLeft {
  flex: 1;
  padding: 10px 0;
}
.categoryTopLeft img {
  cursor: pointer;
}
/* -------------------------------------------------- */
.categoryTopCenter {
  flex: 2;
  display: flex;
  gap: 40px;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.menuItem {
  position: relative;
  cursor: pointer;
}
.menuItem:hover {
  color: greenyellow;
}
.active {
  color: greenyellow;
}
.categoryTopSubmenus {
  position: absolute;
  top: 20px;
  color: white;
  text-transform: capitalize;
  font-size: 18px;
  width: 150px;
  background-color: black;
  font-weight: 500;
  display: none;
}
.categoryTopSubmenu {
  padding: 10px;
}
.menuItem:hover .categoryTopSubmenus {
  display: block;
}
.categoryTopSubmenu:hover {
  color: greenyellow;
}
/* -------------------------------------------------------- */
.categoryTopRight {
  flex: 1;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
.categoryTopRightIcons {
  display: flex;
  position: relative;
}
.categoryTopRightIcon {
  font-size: 22px;
}
.nodification {
  position: absolute;
  right: -10px;
  top: -8px;
  width: 15px;
  height: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  border-radius: 50%;
}
.nodificationText p {
  font-size: 10px;
  font-weight: bolder;
}
.textItems span {
  font-weight: 800;
}
/* ---------------------------- */
.categoryBottom {
  display: flex;
  margin-top: 0px;
}
.categoryBottomLeft {
  flex: 1;
}
.dropdownMenus {
  border: 1px solid #f5f5f5;
  width: 250px;
  position: relative;
}

.dropDownMenu {
  background-color: greenyellow;
  display: flex;
  gap: 20px;
  padding: 12px;
  color: white;
  align-items: center;
  cursor: pointer;
}
.bars {
  font-size: 18px;
}
.dropDownMenu span {
  font-weight: bolder;
  font-size: 20px;
}
.down {
  color: white;
  font-size: 10px;
}
.dropHide {
  display: none;
}
.dropDownMenuset {
  padding: 10px 20px;
  text-transform: capitalize;
  animation: updown 1s ease-in;
  /* name duration timing-function delay iteration-count direction fill-mode */
}
@keyframes updown {
  0% {
    border: 0;
  }
  100% {
    border: 100%;
  }
}
.dropDownMenuList {
  font-size: 18px;
  font-weight: 400;
  padding: 9px 0;
  cursor: pointer;
}
/* ----------------- */
.categoryBottomRight {
  flex: 3;
}
.categoryBottomRightTop {
  display: flex;
}
.categoryBottomRightLeft {
  flex: 2;
}
.search {
  width: 100%;
  border: 1px solid #f5f5f5;
}
.search select {
  font-size: 16px;
  font-weight: bold;
  padding: 15px 20px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: 1px solid #f5f5f5;
  outline: none;
}
.search input {
  font-size: 16px;
  padding: 15px 10px;
  outline: none;
  border: none;
  width: 49%;
}
.search button {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 20px;
  border: none;
}

.categoryBottomRightRight {
  flex: 1;
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}
.callIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calls {
  color: green;
  font-size: 20px;
}
.support {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.call {
  font-weight: bold;
  font-size: 20px;
}
.categoryBottomRightBottom {
  margin-top: 50px;
  position: relative;
}
.heroText {
  position: absolute;
  bottom: 30%;
  top: 20%;
  left: 10%;
}
.text1,
text2 {
  color: green;
  font-weight: 900;
  margin-bottom: 20px;
}
.textHeading {
  font-size: 50px;
  line-height: 1;
  font-weight: 900;
  margin-bottom: 20px;
}
.text2 {
  color: black;
  margin-bottom: 20px;
}
.shop {
  background-color: greenyellow;
  color: white;
  font-weight: 900;
  padding: 10px 30px;
  border: none;
}
